body {
    background-color: black;
    color: white;
}

table, td, th {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}

a {
    color: lightcoral;
}

td,th {
    padding: 5px;
}

.editButton {
    cursor: pointer;
}
