body {
    font-family: helvetica;
}

table {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

a {
    font-weight: 800;
    color: lightcoral;
}

td,th {
    padding: 5px;
}

.editButton {
    cursor: pointer;
}
