/* body {
    background-color: black;
    color: white;
} */

table {
    border: 1px solid rgb(0, 0, 0);
}

td, th {
}

a {
    font-weight: 800;
    color: lightcoral;
}

td,th {
    padding: 5px;
}

.editButton {
    cursor: pointer;
}
